<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-saveimage" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SaveImage</name>
    <js-module name="SaveImage" src="www/SaveImage.js">
        <clobbers target="cordova.plugins.SaveImage" />
    </js-module>
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SaveImage">
                <param name="ios-package" value="CDVSaveImage"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVSaveImage.h" />
        <source-file src="src/ios/CDVSaveImage.m" />
    </platform>
</plugin>
